.hidden {
  &-xs {
    @include screen-max($pxl--screen-sm - 1) {
      display: none;
    }
  }

  &-sm {
    @include screen-range($pxl--screen-sm, ($pxl--screen-md - 1)) {
      display: none;
    }
  }

  &-md {
    @include screen-range($pxl--screen-md, ($pxl--screen-lg - 1)) {
      display: none;
    }
  }

  &-lg {
    @include breakpoint(lg) {
      display: none;
    }
  }
}

.visible {
  &-xs {
    @include breakpoint(sm) {
      display: none;
    }
  }

  &-sm {
    @include screen-max($pxl--screen-sm - 1) {
      display: none;
    }

    @include breakpoint(md) {
      display: none;
    }
  }

  &-md {
    @include screen-max($pxl--screen-md - 1) {
      display: none;
    }

    @include breakpoint(lg) {
      display: none;
    }
  }

  &-lg {
    @include screen-max($pxl--screen-lg - 1) {
      display: none;
    }
  }
}

.sr-only {
  position: absolute;
  left: -99999px;
  opacity: 0;
}

.blend-mode-multiply {
  mix-blend-mode: multiply;
}
