menu-item%goo {
  filter: url('#shadowed-goo');
}
%ball {
  @media screen and (max-width: 360px) {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 54px;
    right: 30px;
  }
  @media screen and (min-width: 361px) and (max-width: 969px) {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 54px;
    right: 30px;
  }
  @media screen and (min-width: 970px) {
    top: 15px;
  }

  background: $fg;
  border-radius: 100%;
  width: 60px;
  height: 60px;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
}

.navi {
  position: sticky;
  top: 0;
  z-index: 2;

  &__burger {
    i:before {
      font-size: 22px;
    }
    @media screen and (max-width: 969px) {
      top: 98vh;
      right: 0;
    }
    display: none;
    position: fixed;
    top: 0px;
    right: 20px;
    z-index: 99999999;
  }

  svg:nth-of-type(1) {
    z-index: 1;
  }
  svg:nth-of-type(2) {
    transform: rotate(180deg);
    position: relative;
    top: -44px;
  }

  svg .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }
  svg .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  svg .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  svg .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  svg .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
      transform: translate3d(-50px, 0, 0);
    }
    100% {
      transform: translate3d(50px, 0, 0);
    }
  }

  svg:nth-of-type(2) .parallax > use {
    animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
  }

  @keyframes move-forever {
    0% {
      transform: translate3d(-90px, 0, 0);
    }
    100% {
      transform: translate3d(85px, 0, 0);
    }
  }

  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .content {
      height: 30vh;
    }
    h1 {
      font-size: 24px;
    }
  }
}

.menu-open {
  display: none;
}
.menu-item {
  @extend %ball;

  i {
    @media screen and (max-width: 969px) {
      top: -15px;
    }
    position: relative;
    top: -8px;
  }
}
.hamburger {
  @media screen and (max-width: 969px) {
    width: 23px;
    height: 1px;
  }
  z-index: 30;
  $width: 25px;
  $height: 2px;
  max-width: $width;
  height: $height;
  background: white;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  transition: transform 200ms;
}
$hamburger-spacing: 8px;
.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}
.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
.menu {
  @extend %goo;
  z-index: 30;

  &__svg {
    width: 70px;
  }
}

.menu-item {
  border: 1px solid rgba(17, 17, 17, 0);
  &:hover {
    background: white;
    color: $fg;
    border: 1px solid $primary;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 180ms;
    }
  }
}

.menu-open-button {
  @extend %ball;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  @media screen and (max-width: 969px) {
    @for $i from 1 through $menu-items {
      &:nth-child(#{$i + 2}) {
        transition-duration: 90ms+ (100ms * $i);
        transform: translate3d(0, -80px * $i, 0);
      }
    }
  }
  @media screen and (min-width: 970px) {
    @for $i from 1 through $menu-items {
      &:nth-child(#{$i + 2}) {
        transition-duration: 90ms+ (100ms * $i);
        transform: translate3d(-110px * $i, 0, 0);
      }
    }
  }
}
