@import './variables';
@import './utilities';

body {
  background: linear-gradient(to right, $primary 0%, $bgGlobal 100%);

  .cv {
    img {
      width: 100%;
    }
  }

  .speech {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;

    h3 {
      color: #07c2d0;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    }

    @keyframes mouth {
      from {
        ry: 11;
      }
      to {
        ry: 4;
      }
    }
    #kawaii-face__mouth__shocked {
      animation: 1s mouth infinite alternate ease-in;
    }
  }
}
